body {
    background-color: rgb(54, 87, 255);
    color: saddleBrown;
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 20px;
}
h1, h2 {
color:midnightBlue;
}
h1 {
text-align:center;
}
h3 {
    background-color: rgb(36, 62, 191);
    color: ghostwhite;
    text-align:center;
}
span {
    color: rgb(179, 218, 255);
}
i {
    color: rgb(255, 255, 255);
}
h4 {
    color: rgb(255, 255, 255);
}
h5 {
    color: rgb(255, 255, 255);
    text-align:center;
}
li {
    color: rgb(255, 255, 255);
}
a:link, a:visited {
    color: rgb(255, 255, 255);
}